# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xcworkspacedata
sudoku.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
sudoku.xcodeproj/project.xcworkspace/xcuserdata/dpreece.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
sudoku/.ninja_deps
sudoku/.ninja_log
sudoku.xcodeproj/project.pbxproj
sudoku.xcodeproj/xcuserdata/dpreece.xcuserdatad/xcschemes/norvig.xcscheme
sudoku.xcodeproj/xcuserdata/dpreece.xcuserdatad/xcschemes/soduku.xcscheme
sudoku.xcodeproj/xcuserdata/dpreece.xcuserdatad/xcschemes/xcschememanagement.plist
sudoku.xcodeproj/project.pbxproj
sudoku.xcodeproj/project.pbxproj
sudoku.xcodeproj/xcuserdata/dpreece.xcuserdatad/xcschemes/soduku.xcscheme
sudoku.xcodeproj/xcuserdata/dpreece.xcuserdatad/xcschemes/xcschememanagement.plist
